html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*CREATE DESIGN*/

#CreateContainer{
    width: 500px;
}
#CreateH5{
    text-align:center;
}

/*GET ALL CONTACTS DESIGN*/
#btnGroup {
    background-color: #212529;
}
.table td, .table th {
    padding: 10px; /* Adjust the padding value as per your preference */
    margin: 10px;
    text-align: center;
}
#GetAllContactsH4{

}
#thead {
    background-color: #212529;
    color:white;

}
#GetAllContactsContainer {
    width: 90%;

}
th, td {
    padding: 15px;
}

/*EDIT DESIGN*/
#EditContainer{
    width: 500px;
}

#EditH5 {
    text-align: center;
}

/*REGISTER DESIGN*/
#RegisterP {
    text-align: center;
    font-size: 12px;
    padding-top: 7px;
    color: #999999;
}
#RegisterContainer {
    width: 500px;
}
#RegisterH5{
    text-align:center;
}

/*LOGIN DESIGN*/
#LoginContainer {
    width: 500px;
    position: relative;
}
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the color and transparency as needed */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(100px); /* For Safari */
    z-index: -1;
}
#LoginH5{
    text-align:center;
}

nav{
    padding:5%;
}
#app {
    font-size: 11px;
    color: red;
    margin-top: -0.01rem;
    font-weight: bold;
}
#SystemName {
    display: flex;
    align-items: flex-start;

}
#krung {
    font-weight: bold;
}

/*HOME DESIGN*/
#homeKrung {
    font-weight: bold;
    font-size: 80px;
}

#homeApp {
    font-size: 45px;
    color: red;
    position: relative;
    top: -40px;
    font-weight: bold;
}

#homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#homeP{
    width:80%;
}