
<div class="background-overlay"></div>
<div class="container text-center" id="homeContainer">
    <div>
        <h1 class="display-4">Welcome to</h1>
        <h1><span id="homeKrung">KRUNG</span><span id="homeApp">app</span></h1> 
        <br />
        <div class="container" id="homeP">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Eget egestas purus viverra accumsan in nisl nisi. Elementum pulvinar etiam non quam. Ultrices tincidunt arcu non sodales neque
                sodales ut etiam.
            </p>
            <p>
                Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Vulputate eu scelerisque felis imperdiet
                proin fermentum. Vel orci porta non pulvinar. Sodales ut eu sem integer vitae justo. Tincidunt arcu non sodales neque. Nisi vitae suscipit
                tellus mauris a diam maecenas.
            </p>
            <p>
                Bibendum ut tristique et egestas quis ipsum suspendisse. Vitae turpis massa sed elementum.
                Turpis egestas sed tempus urna et pharetra pharetra massa.

                Velit laoreet id donec ultrices tincidunt arcu non. At tellus at urna condimentum. Orci nulla pellentesque dignissim enim sit. In aliquam sem
                fringilla ut morbi tincidunt augue interdum. Nec feugiat nisl pretium fusce.
            </p>
        </div>
    </div>
</div>
